<div *ngIf="project">
  <h2>{{project.title}}</h2>
<tr>
  <td>title</td>
  <td>
    <label>
      <input name="title" type="text" required [(ngModel)]="project.title"/>
    </label>
  </td>
</tr>
<tr>
  <td>desc</td>
  <td>
    <label>
      <input name="description" type="text" required [(ngModel)]="project.description" ng-pattern="test"/>
    </label>
  </td>
</tr>
<tr>
  <td colspan="2">
    <input name={{valbutton}} value="Edit" type="button" (click)="eProject({pid: this.pid, title: project.title, description: project.description})"/>
  </td>
  <td colspan="4">
    <input name={{valbutton}} value="Delete" type="button" (click)="dProject()"/>

  </td>
</tr>
</div>
