<h2>{{project.title}}</h2>

<div *ngIf="owner">
  <tr>
    <td>
      <select name="singleSelect" required [(ngModel)]="surrender_user_id">
        <option *ngFor="let user of users" value="{{user.uid}}">{{user.name}}</option>
      </select><br>
    </td>
    <td>
      <div class="appButton" (click)="surrenderProject(surrender_user_id)">Surrender Project</div>
    </td>
  <tr>
  <tr>
    <td>
      <select name="singleSelect" required [(ngModel)]="invite_user_id">
        <option *ngFor="let user of users" value="{{user.uid}}">{{user.name}}</option>
      </select><br>
    </td>
    <td>
      <div class="appButton" (click)="inviteUser(invite_user_id)">Invite User</div>
    </td>
  </tr>
</div>


<ul class="heroes">
  <p>{{project.description}}</p>
  <nav><a href='http://localhost:4200/user/{{project.owner}}/editProject/{{project.pid}}'>Edit Project</a></nav>
</ul>

<div class="grid grid-pad" style="margin: 0 auto 250px;">
  <a *ngFor="let usecase of usecases" class="col-1-4"
       routerLink="/user/{{this.uid}}/usecases/{{usecase.ucid}}">
    <div class="module usecase">
      <h4>{{project.title}}:<br>{{usecase.title}}</h4>
    </div>
  </a>
</div>
<div class="appButton" (click)="createUC()">New Use Case</div>
