<h3>Projects</h3>
<button (click)="changeState(0)">Show All Projects</button>
<button (click)="changeState(1)">Show Invited Projects</button>
<button (click)="changeState(2)">Show Owned Projects</button>
<div class="grid grid-pad" style="margin: 0 auto 250px;">
  <a *ngFor="let project of projects" class="col-1-4"
     routerLink="/user/{{this.uid}}/projects/{{project.pid}}">
    <div *ngIf="this.state===0; else other">
      <div class="module project">
        <h4>{{project.title}}</h4>
      </div>
    </div>
    <ng-template #other>
      <div *ngIf="this.state===1; else other2">
        <div *ngIf="project.owner!==uid">
          <div class="module project">
            <h4>{{project.title}}</h4>
          </div>
        </div>
      </div>
      <ng-template #other2>
        <div *ngIf="this.state===2">
          <div *ngIf="project.owner===uid">
            <div class="module project">
              <h4>{{project.title}}</h4>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </a>
</div>

<nav><a routerLink="/user/{{uid}}/newProject">New Project</a></nav>
