
<h3 style="margin-bottom: 20px;">Users</h3>

<div style="text-align: center; left: 30%; position: relative; display: block">
  <div id="userList" class="selectContainer">
    <!--<div *ngFor="let user of users" class="selectElement"
       routerLink="/user/{{user.id}}">{{user.name}}</div>-->
    <div *ngFor="let user of users" class="selectElement"
         onclick="onClick(this)" id="user_{{user.uid}}_">{{user.name}}</div>
  </div>
  <div class="loginButton" onclick="login()">Login</div>
</div>



