<h2>Title: <input class="headerInput" type="text" [(ngModel)]="usecase.title"></h2>
<table>
  <tr><td>Goal in Context:</td><td><input type=text [(ngModel)]="usecase.inner_data.goal"/></td></tr>
<tr><td>Scope & Level: </td><td><input type=text [(ngModel)]="usecase.inner_data.scope"/></td></tr>
<tr><td>Preconditions: </td><td><input type=text [(ngModel)]="usecase.inner_data.preconditions"/></td></tr>
<tr><td>Success End Condition: </td><td><input type=text [(ngModel)]="usecase.inner_data.success"/></td></tr>
<tr><td>Failed End Condition: </td><td><input type=text [(ngModel)]="usecase.inner_data.failure"/></td></tr>
<tr><td>Primary Actor: </td><td><input type=text [(ngModel)]="usecase.inner_data.pactor"/></td></tr>
<tr><td>Secondary Actor: </td><td><input type=text [(ngModel)]="usecase.inner_data.sactor"/></td></tr>
<tr><td>Trigger: </td><td><input type=text [(ngModel)]="usecase.inner_data._trigger"/></td></tr>
<tr><td>Description: </td><td><input type=text [(ngModel)]="usecase.inner_data.description"/></td></tr>
<tr><td>Extensions: </td><td><input type=text [(ngModel)]="usecase.inner_data.extensions"/></td></tr>
<tr><td>Sub-Variations: </td><td><input type=text [(ngModel)]="usecase.inner_data.subvar"/></td></tr>
</table>

<div class="appButton" (click)="saveUseCase()">Save Changes</div>
<div class="appButton" (click)="cancel()">Cancel</div>
<div class="appButton" (click)="delete()">Delete Use Case</div>
