
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}


div.appButton{
  padding: 5px 10px;
  width: fit-content;
  margin-top: 10px;
  display: block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

div.appButton:hover{
  color: #039be5;
  background-color: #cfd8dc;
}

input.headerInput{
  border-style: none;
  font-size: 1em;
}
