<form #ucForm="ngForm" (ngSubmit)="onSaveUC(userForm.value)" novalidate style="clear: right;">
  <table border="1">
    <tr>
      <td>title</td>
      <td>
        <label>
          <input name="uctitle" type="text" required [(ngModel)]="uctitle"/>
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input name={{valbutton}} type="button" (click)="saveUC({id: id, title: uctitle})"/>
      </td>
    </tr>
  </table>
</form>
