
<form #projectForm="ngForm" (ngSubmit)="onSaveProject(userForm.value)" novalidate style="float: left; margin-right: 50px">
  <h3>Create New Project</h3>
    <tr>
      <td>title</td>
      <td>
        <label>
          <input name="title" type="text" required [(ngModel)]="title"/>
        </label>
      </td>
    </tr>
    <tr>
      <td>desc</td>
      <td>
        <label>
          <input name="desc" type="text" required [(ngModel)]="desc"/>
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input name={{valbutton}} value="Create Project" type="button" (click)="saveProject({id: id, title: title, description: desc})"/>
      </td>
    </tr>
</form>

