/* AddUserComponent's private CSS styles */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #999;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607d8b;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
div.selectContainer{
  top: 75px;
  padding: 5px;
  background-color: #e0e0e0;
  overflow: scroll;
  max-height: 300px;
  max-width: 40%;
  border: 1px solid #aaaaaa;
}

div.selectElement{
  border-bottom: 1px solid #888888;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  transition: background-color, 1s;
}

div.loginButton{
  padding: 5px 10px;
  width: fit-content;
  margin-top: 10px;
  display: block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

div.loginButton:hover{
  color: #039be5;
  background-color: #cfd8dc;
}
