
<h3 style="margin-bottom: 20px;">Add Users</h3>

<form #userForm="ngForm" (ngSubmit)="save(userForm.value)" novalidate>
  <table border="1">
    <tr>
      <td>name</td>
      <td>
        <label>
          <input name="name" type="text" required [(ngModel)]="name"/>
        </label>
      </td>
    </tr>
    <tr>
      <td>admin</td>
      <td>
        <label>
          <input name="admin"  id="adminCheck" required type="checkbox" value="true" [(ngModel)]="admin"/>
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input name={{valbutton}} value="Add User" type="button" (click)="save({id: id, name: name, admin: admin})"/>
      </td>
    </tr>
  </table>
</form>

<table border="1">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Admin</td>
  </tr>
  <tr *ngFor="let kk of Repdata; let ind = index">
    <td>{{ind + 1}}</td>
    <td>{{kk.name}}</td>
    <td>{{kk.admin}}</td>
  </tr>

</table>

<a routerLink="/login">Go to Login</a>




