<div *ngIf="user">
  <nav>
    <p style="display: inline-block; margin-left: 20px; margin-right: 5px">└</p>
    <a (click)="projectView = true" style="font-size: 18px">Projects</a>
    <a (click)="projectView = false" style="font-size: 18px">Use Cases</a>
  </nav>
  <div style="margin-left: 38px;">
    <h2>{{user.name}}</h2>
    <div><span>id: </span>{{user.uid}}</div>
    <div> Number of Projects: {{nProjects}} <br>
      Number of Use Cases: {{nUseCases}}
    </div>
    <div *ngIf="projectView; else usecaseView">
      <app-project-dashboard></app-project-dashboard>
    </div>
    <ng-template #usecaseView> <app-usecase-dashboard> </app-usecase-dashboard> </ng-template>
  </div>
  <div *ngIf="Repdata[0]['admin']">
    <br>
    <p>Admin Tools</p>
    <nav><a routerLink="/addUser">Add User</a></nav>
    <nav><a routerLink="/deleteUser">Delete User</a></nav>
    <br>
  </div>
  <button (click)="goBack()" style="font-size: 18px">Logout</button>
</div>


