<h3>Use Cases</h3>
<div class="grid grid-pad" style="margin: 0 auto 250px;">
  <br>
  <p>Search use case by title</p>
  <input [(ngModel)]="search">
  <br>
  <br>
  <a *ngFor="let usecase of usecases | filter : search" class="col-1-4"
     routerLink="/user/{{this.uid}}/usecases/{{usecase.ucid}}">
    <div *ngIf="usecase.ucid !== undefined">
      <div class="module usecase">
        <h4>Project {{usecase.pid}}:<br>{{usecase.title}}</h4>
      </div>
    </div>
  </a>
</div>
