<h3>Delete User

<table border="1">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Admin</td>
  </tr>
  <tr *ngFor="let kk of Repdata; let ind = index">
    <td>{{ind + 1}}</td>
    <td>{{kk.name}}</td>
    <td>{{kk.admin}}</td>
    <td><a (click)="delete(kk)" *ngIf="!kk.admin" style="color:blueviolet">Delete</a></td>
  </tr>

</table>
  <a routerLink="/login">Go to Login</a>
